<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/style.css" />
    <title>Layout</title>
  </head>

  <body>
    <header>
      <section class="info">
        <address>
          Nizami küçəsi 203B, AF Business House, 2-ci mərtəbə (+994 12) 310 0113
        </address>
        <ul>
          <li><img src="" alt="" /></li>
          <li><img src="" alt="" /></li>
          <li><img src="" alt="" /></li>
          <li><img src="" alt="" /></li>
          <li><img src="" alt="" /></li>
          <li><img src="" alt="" /></li>
        </ul>
        <a href="">muraciet et</a>
      </section>
      <section class="navbar">
        <div class="backround slider">
          <img src="./assets/images/backround" alt="">
        </div>
        <div class="logo">
          <a href="" ><img src="./assets/logo.code" alt="" /></a>
        </div>
        <ul>
          <li>
            Akademiya
            <ul>
              <li>Haqqimizda</li>
              <li>Akademik Partnyorlar</li>
              <li>Karyera Talant</li>
              <li>Tehsil Modeli</li>
              <li>Mezunlarimiz</li>
            </ul>
          </li>
          <li>
            Tedris sahehelri
            <ul>
              <li>Marketing</li>
              <li>Proqramlasdirma</li>
              <li>Dizayn</li>
              <li>Sistem sebeke</li>
            </ul>
          </li>
          <li>Korporativ</li>
          <li>Elaqe</li>
        </ul>

        <h1>Yeni dunyani kesf et</h1>
      </section>
    </header>
    <main>
      <section class="Education">
        <div class="left">
          <h2>Tedris</h2>
          <span>saheleri</span>
          <hr>
          <p>
            İnformasiya Texnologiyaları sahəsində bugünün və gələcəyin ən tələb
            edilən istiqamətləri
          </p>
        </div>
        <div class="right">
          <div>
            <a href="">
              <img src="" alt="" />
              <strong>digital Marketing</strong>
            </a>
          </div>
          <div>
            <a href="">
              <img src="" alt="" />
              <strong>Dizayn</strong>
            </a>
          </div>
          <div>
            <a href="">
              <img src="" alt="" />
              <strong>Proqramlasdirma</strong>
            </a>
          </div>
          <div>
            <a href="">
              <img src="" alt="" />
              <strong>Sistem ve sebeke</strong>
            </a>
          </div>
        </div>
      </section>
      <section class="why">
        <p>Niye</p>
        <h2>Code academy</h2>
        <hr>
        <p>
          Biz dərsləri Zəmanətli Təhsil Sistemi ilə Beynəlxalq Sertifikasiya
          imtahanlarının kurrikulumu əsasında keçirik. Talant Mərkəzi, Mentor
          Sistemi kimi özəlliklər və müasir tədris metodları ilə onlara praktiki
          məşğələlər təklif edirik.
        </p>
      </section>
      <section class="projects">
        <div>
          <img src="" alt="" />
          <h3>Buraxılış layihəsi</h3>
          <p>
            Buraxılış layihəsi “Code Academy”dəki təhsilin yekun layihəsi hesab
            olunur və çox önəmli rol oynayır. Təqdimat təhsil boyunca keçirilən
            bütün mövzuları özündə cəmləyir. Buraxılış layihəsi tədrisi
          </p>
          <a href="">etrafli</a>
        </div>
        <div>
          <img src="" alt="" />
          <h3>Buraxılış layihəsi</h3>
          <p>
            Buraxılış layihəsi “Code Academy”dəki təhsilin yekun layihəsi hesab
            olunur və çox önəmli rol oynayır. Təqdimat təhsil boyunca keçirilən
            bütün mövzuları özündə cəmləyir. Buraxılış layihəsi tədrisi
          </p>
          <a href="">etrafli</a>
        </div>
        <div>
          <img src="" alt="" />
          <h3>Buraxılış layihəsi</h3>
          <p>
            Buraxılış layihəsi “Code Academy”dəki təhsilin yekun layihəsi hesab
            olunur və çox önəmli rol oynayır. Təqdimat təhsil boyunca keçirilən
            bütün mövzuları özündə cəmləyir. Buraxılış layihəsi tədrisi
          </p>
          <a href="">etrafli</a>
        </div>
        <div>
          <img src="" alt="" />
          <h3>Buraxılış layihəsi</h3>
          <p>
            Buraxılış layihəsi “Code Academy”dəki təhsilin yekun layihəsi hesab
            olunur və çox önəmli rol oynayır. Təqdimat təhsil boyunca keçirilən
            bütün mövzuları özündə cəmləyir. Buraxılış layihəsi tədrisi
          </p>
          <a href="">etrafli</a>
        </div>
      </section>
      <section class="students">
        <img src="" alt="" />
        <p>
          Code Academy həm arzuladığınız sahəni əlçatan edir, həm də gələcək
          karyera inkişafınız üçün lazımı bilik və bacarıqları formalaşdırır.
        </p>
        <ul>
          <li>student</li>
          <li>karyera</li>
          <li>rəhbər vəzifələrdə işləyir 43</li>
          <li>vəzifəsi artıb</li>
        </ul>
      </section>
      <section class="comments">
        <h3></h3>
        <strong></strong>
        <p></p>
        <img src="" alt="" />
      </section>
      <section class="partners">
        <h3>akademik partnyorlarımız</h3>
        <p>
          Qlobal standartlara uyğun tədris imkanları sayəsində tələbələrimizi
          dünyanın istənilən yerində professionallıqlarını sübut edə biləcək
          şəkildə hazırlaşdırırıq.
        </p>
        <ul>
          <li><img src="autodesk" alt="" /></li>
          <li><img src="comptia" alt="" /></li>
          <li><img src="github" alt="" /></li>
          <li><img src="" alt="" /></li>
          <li><img src="" alt="" /></li>
        </ul>
      </section>
      <section class="out graduateds">
        <ul>
          <li><img src="" alt="" /></li>
          <li><img src="" alt="" /></li>
          <li><img src="" alt="" /></li>
          <li><img src="" alt="" /></li>
          <li><img src="" alt="" /></li>
          <li><img src="" alt="" /></li>
        </ul>
      </section>
    </main>
    <footer>
      <section class="letsmeet">
        <label for="">
          <input type="text" placeholder="Ad" />
        </label>
        <label for="">
          <input type="text" placeholder="Soyad" />
        </label>
        <label for="">
          <select name="" >
            <option value="050">050</option>
            <option value="051" selected>051</option>
            <option value="055">055</option>
            <option value="070">070</option>
            <option value="077">077</option>
          </select>
        </label>
        <label for="">
          <input type="number" placeholder="XX-XXX-XX" />
        </label>
        <label for="">
          <select name="" id="">
            <option value="" selected>Sebeke administatorlugu</option>
            <option value="" selected>Avtobus Soferi</option>
          </select>
        </label>
      </section>
      <section class="infos">
        <ul>
          <li>
            Akademiya
            <ul>
              <li>Haqqimizda</li>
              <li>Haqqimizda</li>
              <li>Haqqimizda</li>
              <li>Haqqimizda</li>
              <li>Haqqimizda</li>
            </ul>
          </li>
          <li>
            <ul>
              Tedris Saheleri
              <li>Digital marketing</li>
              <li>Digital marketing</li>
              <li>Digital marketing</li>
              <li>Digital marketing</li>
            </ul>
          </li>
         
      </section>
      <section class="address">
        <address></address>
      </section>
      <section class="end">
        <span></span>
        <img src="" alt="" />
        <div>
          <ul>
            <li><img src="" alt="" /></li>
            <li><img src="" alt="" /></li>
            <li><img src="" alt="" /></li>
            <li><img src="" alt="" /></li>
            <li><img src="" alt="" /></li>
          </ul>
        </div>
      </section>
    </footer>
  </body>
</html>
